/* CSS Document */
html {
  scroll-behavior: smooth;
}

.mt-8, .my-8 {
  margin-top: 6rem !important;
}

#Nav {
  position: fixed;
  right: 20px;
  top: 50%;
  z-index: 1030;
}

#Nav nav {
  position: relative;
  top: -80px;
}

#Nav .fa-circle {
  color: rgba(255, 255, 255, 0.5);
}

#Nav .fa-circle:hover {
  color: rgba(255, 255, 255, 1);
}

#Nav .active .fa-circle {
  color: antiquewhite;
}

#FirstHero {
  background-image: url("/images/background.jpg");
  min-height: 100vh;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 90%;
}

#FirstHero .display-4 {
  font-weight: 600;
}

#FirstHero .lead {
  font-weight: 400;
  line-height: ;
}

#FirstHero .container {
  height: 100%;
}

#FirstHero .card.card-window {
  width: 100%;
}

#FirstHero .card.card-window:hover .card-img-overlay{
  display: contents;
}

#FirstHero .card.card-window .card-img-overlay{
  display: none;
  transition: all 0.3 ease;
}

#FirstHero .fas.fa-angle-right {
  transition: all 0.3s ease;
}

#FirstHero .fas.fa-angle-right:hover {
  transform: scale(1.2, 1.2) translate(50%);
}

#LearnMore {
  border: none;
}

#Intro {
  background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);

  height: 100vh;

  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

#carouselIntro {
  width: 100vw;
}

@media (min-width: 768px) {
  #carouselIntro {
    width: 50vw;
  }
}

#carouselIntro .fa-angle-right,
.fa-angle-left {
  color: #000000;
}

.textCard {
  height: 400px;
  border: none;
  background-color: transparent;
}

#ActorsIntro .card {
  background-color: azure;
  max-width: 260px;
  height: 395px;
  padding: 55px 24px;
}

#ActorsIntro div div div a {
  padding: 0px;
}

@media (min-width: 1200px) {
  #ActorsIntro {
    margin-bottom: 70px;
    margin-top: 70px;
  }
}

@media (min-width: 576px) {
  #carouselActor .carousel-item {
    height: 100vh;
  }
}

#carouselActor .btn-link {
  font-weight: 400;
  color: #ffffff;
  text-decoration: none;
}
#carouselActor .btn-link:hover {
  color: #ffffff;
}
