/* CSS Document */
html {
  scroll-behavior: smooth;
}

.mt-8, .my-8 {
  margin-top: 6rem !important;
}

#Nav {
  position: fixed;
  right: 20px;
  top: 50%;
  z-index: 1030;
}

#Nav nav {
  position: relative;
  top: -80px;
}

#Nav .fa-circle {
  color: rgba(255, 255, 255, 0.5);
}

#Nav .fa-circle:hover {
  color: rgba(255, 255, 255, 1);
}

#Nav .active .fa-circle {
  color: antiquewhite;
}

#FirstHero {
  background-image: url("/images/background_red.png");
  min-height: 100vh;
  background-position: top;
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-size: 95%;
}

#FirstHero .display-4 {
  font-weight: 600;
}

#FirstHero .lead {
  font-weight: 400;
  font-size: 1rem !important;
}

#FirstHero .img-fluid.img-logo {
  max-width: 30% !important;
}

#FirstHero .container {
  height: 100%;
}

#FirstHero #actorWindow1, #FirstHero #actorWindow3 {
  transform: scaleX(-1);
}

#FirstHero .card.card-window {
  width: 100%;
}

#FirstHero .card.card-window:hover .card-img-overlay{
  display: inline-flex;
}

#FirstHero .card.card-window .card-img-overlay{
  display: none;
  transition: all 0.3 ease;
}

#FirstHero .fas.fa-angle-right {
  transition: all 0.3s ease;
}

#FirstHero .fas.fa-angle-right:hover {
  transform: scale(1.2, 1.2) translate(50%);
}

#LearnMore {
  border: none;
}

#ChildStairs {
  min-height: 354px;
  background-image: url("/images/Child_on_Stairs.png");
  background-repeat: no-repeat;
  background-size: cover;
}

#Intro {
  background-image: url("/images/bg-Intro.png");
  min-height: 73vw;
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-size: cover;
}

#aboutDtZ .card .card-body {
  min-height: 75vh;
}

.font-weight-500 {
  font-weight: 500 !important;
}

#carouselIntro {
  width: 100vw;
}

@media (min-width: 768px) {
  #carouselIntro {
    width: 50vw;
  }
}

#carouselIntro .fa-angle-right,
.fa-angle-left {
  color: #000000;
}

.textCard {
  height: 400px;
  border: none;
  background-color: transparent;
}

@media (min-width: 1200px) {
  #ActorsIntro {
    margin-bottom: 70px;
    margin-top: 70px;
  }
}

@media (min-width: 576px) {
  #carouselActor .carousel-item {
    height: 100vh;
  }
}

#carouselActor .carousel-inner .carousel-item .card{
  min-width: 100vw;
  min-height: 100vh;
}

#carouselActor .carousel-inner .carousel-item .card .card-body{
  padding: 9rem 20rem 9rem 20rem !important;
}

#carouselActor .btn-link {
  font-weight: 400;
  color: #ffffff;
  text-decoration: none;
}
#carouselActor .btn-link:hover {
  color: #ffffff;
}
