:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont,"Segoe UI", Robot, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier N--ew", monospace;
}

*, *::before, *::after {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    scroll-behavior: smooth;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #ffff;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

.nav {
    position: fixed;
    right: 20px;
    top: calc(50% - 123px);
    z-index: 1030;
}

.nav .nav-link {
    text-decoration: none;
    margin-bottom: 50px;
}

.nav .nav-link-last {
    text-decoration: none;
    margin-bottom: none;
}

.section {
    height: 100vh;
    padding: 1.5rem 0;
    border-radius: 0;
}

.container {
    width: 100%;
    height: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.section-bg, .section-bg .img {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: -1;
}

.section-bg .img {
    background-size: cover;
    background-position: top;
}

#Hero .section-bg .img {
    background-image: url("../images/qqArtboard-1.png");
}

#Intro {
    background: url("../images/qqArtboard-2.png") no-repeat;
    background-position: center;
    background-size: cover;
}

#Alliance {
    background: url("../images/qqArtboard-3.png") no-repeat;
    background-position: center;
    background-size: cover;
}

.col {
    position: relative;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}

.row-cols-2 > * {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}

.row-cols-3 > * {
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}

.offset-50p {
    margin-left: 50%;
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-link {
    text-decoration: none;
    color: var(--blue);
}

.btn-link:hover {
    transform: scale(1.05);
    text-decoration: none;
    color: var(--blue);
}

.btn-link:focus {
    text-decoration: none;
    color: var(--blue);
}

#button-tdh a {
    display: inline-block;
    width: 200px;
    height: 50px;
    background-image: url("../images/logos/TDH_LOGO_BLACK.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
}

#button-plan a {
    display: inline-block;
    width: 200px;
    height: 50px;
    background-image: url("../images/logos/PLAN_intl.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
}

#button-ecpat a {
    display: inline-block;
    width: 40px;
    height: 50px;
    background-image: url("../images/logos/ECPAT_Indonesia.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
}

#button-defForC a {
    display: inline-block;
    width: 200px;
    height: 50px;
    background-image: url("../images/logos/def_for_children.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
}

#button-freeAGirl a {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-image: url("../images/logos/free_a_girl.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
}

#button-icco a {
    display: inline-block;
    width: 145px;
    height: 50px;
    background-image: url("../images/logos/ICCO.png");
    background-repeat: no-repeat;
    background-size: contain;
}

@media (min-width: 576px){
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px){
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px){
    .container {
        max-width: 1140px;
    }
    .row-cols-xl-3 {
        -ms-flex: 0 0 33.33333%;
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }
}

@media (min-width: 1400px){
    .container {
    max-width: 1320px;
    }
    .row-cols-xxl-2 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}

.d-flex {
    display: flex !important;
    display: -ms-flexbox !important;
}

.flex-row {
    flex-direction: row !important;
    -ms-flex-direction: row !important;
}

.flex-column {
    flex-direction: column !important;
    -ms-flex-direction: column !important;
}

.justify-content-start {
    justify-content: flex-start !important;
    -ms-flex-pack: start !important;
}

.justify-content-center {
    justify-content: center !important;
    -ms-flex-pack: center !important;
}

.justify-content-end {
    justify-content: flex-end !important;
    -ms-flex-pack: end !important;
}

.mr-0 {
    margin-right: 0;
}

.ml-0 {
    margin-left: 0;
}

.mx-0 {
    margin: auto 0 auto 0;
}

.mr-15 {
    margin-right: 15px;
}

.ml-15 {
    margin-left: 15px;
}

.mx-15 {
    margin: auto 15px auto 15px;
}

.mr-30 {
    margin-right: 30px;
}

.ml-30 {
    margin-left: 30px;
}

.mx-30 {
    margin: auto 30px auto 30px;
}

.pt-30 {
    padding-top: 30px;
}

.pb-30 {
    padding-bottom: 30px;
}

.py-30 {
    padding: 30px auto 30px auto;
}