/* CSS Document */
html {
  scroll-behavior: smooth;
}

#Nav {
  position: fixed;
  right: 20px;
  top: 50%;
  z-index: 1030;
}

#Nav nav{
  position: relative;
  top: -80px;
}

#Nav .fa-circle{
  color: rgba(255,255,255,0.50);
  
}

#Nav .fa-circle:hover {
  color: rgba(255,255,255,1);
}

#Nav .active .fa-circle{
  color: antiquewhite;
}

#FirstHero {
  background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
  height: 95vh;
  
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  
}

#FirstHero .display-4 {
  font-weight: 600;
}

#FirstHero .lead {
  font-weight: 400;
}

#FirstHero .container {
  height: 100%;
}

#FirstHero .btn-link {
  font-weight: 400;
  color:#9E9E9E;
  text-decoration: none;
}
#FirstHero .btn-link:hover {
  color: #000000;
  text-decoration: underline;
}

#LearnMore {
  border: none;
}

#Intro{
  background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
  
  height: 100vh;
  
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

#carouselIntro{
  width: 100vw;
}

@media (min-width: 768px){
  #carouselIntro{
    width: 50vw;
  }
}

#carouselIntro .fa-angle-right, .fa-angle-left{
  color:#000000;
}

.textCard {
  height: 400px;
  border: none;
  background-color: transparent;
}

#carouselActor .carousel-item{
  height: 100vh; 
}

.buttonsSection{
  max-width: 878px;
  height: 490px;
  margin: 0px auto;
  position: relative;
}
.buttonsSection a{ 
  display:inline-block; position:absolute;
}

#button1 {
  left: 0px; bottom: 41px; width: 106px; height: 181px; 
  background: url("../images/home_menu_item_1.png") no-repeat;
  background-position: left;
}
#button1:hover{
  background-position: right;
}



